:root{
    /*Colores*/
    --negro: black;
    --casinegro: #041C32;
    --oscuro: #04293A;
    --principal: #064663;
    --destacado: #ECB365;
    --blanco: white;

    /*Fuentes*/
    --fuente_principal: 'Montserrat', sans-serif;
    --fuente_titulo: 'Anton', sans-serif;
}

/*CSS init*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

/*Globales*/
*{font-family: var(--fuente_principal);}
h1,h2,h3{font-family: var(--fuente_titulo);text-transform: uppercase;}
h1{font-size: 3rem;}
h2{font-size: 2rem;}
h3{font-size: 1.5rem;}
.center{text-align: center;}


