:root{
    /*Colores*/
    --negro: black;
    --casinegro: #041C32;
    --oscuro: #04293A;
    --principal: #064663;
    --destacado: #ECB365;
    --blanco: white;

    /*Fuentes*/
    --fuente_principal: 'Montserrat', sans-serif;
    --fuente_titulo: 'Anton', sans-serif;
}

/*CSS init*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

/*Globales*/
*{font-family: var(--fuente_principal);}
h1,h2,h3{font-family: var(--fuente_titulo);text-transform: uppercase;}
h1{font-size: 3.8rem; margin:0;}
h2{font-size: 2.6rem;}
h3{font-size: 1.5rem;}
a{text-decoration: none;}
li{list-style: none;}
.center{text-align: center;}
.standard-flex{display: flex; align-items:center; justify-content: center;}

/*Body*/
body{
    background-color: var(--principal);
}

/*Header*/
.logo{
    flex-direction: column;
    margin:2rem;
}

.logo__top,
.logo__bottom{
    line-height: 1;
    letter-spacing: .3rem;
}

.logo__top{color: var(--blanco);}
.logo__bottom{color: var(--destacado);}

@media (hover: hover){
    .logo:hover>.logo__top{color: var(--destacado);}
    .logo:hover>.logo__bottom{color: var(--blanco);}
}

/*Nav*/
.navegador{
    background-color: var(--oscuro);
}

.navegador ul{
    gap: 1.8rem;
    padding: 1rem;
}

.navegador__item a,
.navegador__item h2{
    color: var(--blanco);
    font-size: 2rem;
    font-family: var(--fuente_titulo);
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.navegador__item h2,
.navegador__item--active a{
    cursor: default;
}

.navegador__item--active > a{color: var(--destacado)}

@media (hover:hover){
    .navegador__item:hover > a{color: var(--destacado);}
}

.navegador__item a:active{color: var(--casinegro);}