:root{
    --negro: black;
    --casinegro: #041C32;
    --oscuro: #04293A;
    --principal: #064663;
    --destacado: #ECB365;
    --blanco: white;
}

/*CSS init*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}
